/* Add screen styles below */
body {
    background: #A2C5AC;    
}


.box{
    background: #7F6A93;
    margin-top: auto;
    
}


.box {
    text-align: left;
    color: #000000;
    font-size: 50px;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #000000;
    font-size: 40px;
    font-family: Arial, sans-serif;
    padding: 10px;
}


h2 {
    text-align: center;
    color: #000000;
    font-size: 30px;
    font-family: Arial, sans-serif;
    padding: 10px;
}


.text {
    text-align: left;
    color: #000000;
    font-size: 20px;
    font-family: Arial, sans-serif;
    padding: 20px;
}