body {
    margin: 0;
}

.top-box {
    background-color: #7F6A93;
    border: 40px solid #7F6A93;
    margin: 0;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.top-box {
    color: #A2C5AC;
    font-size: 50px;
    text-align: left;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.text {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.meet {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #A2C5AC;
}

img {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.sent {
    color: black;
    font-size: 30px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 650px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}